/*==========================================================================
Font
========================================================================== */
$open: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
/*==========================================================================
Color
========================================================================== */
$body-color: #686C73;
$white: #ffff;
$border: #E6E7E8;
$border2: #353B44;
$border3: #1b2230;
$primary-color: #FE8C12;
$secondary-color: #030A15;
$thin-bg: #F5F5F5;
$li-color: #41404A;
$f-bg: #353B44;
$shadow:rgba(0, 0, 0, 0.05);