/*==========================================================================
Experience
========================================================================== */
.experience__area {
    margin-top: -130px;
    &-bg {
        background: $white;
        box-shadow: 0 30px 50px $shadow;
        padding: 30px 20px;
    }
    &-skill {
        &-content {
            position: relative;
            h5 {
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                color: $border2;
            }
        }
        &-count {
            position: absolute;
            top: 0;
            left: 60%;
            color: $primary-color;
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            font-family: $open;
        }
        &-inner {
            width: 65%;
            height: 8px;
            background: $border;
            margin-top: 10px;
            position: relative;
            border-radius: 0;
        }
        &-bar {
            height: 8px;
            position: absolute;
            width: 0;
            top: 0px;
            left: 0px;
            background: $primary-color;
            transition: 3.5s;
            border-radius: 0;
        }
    }
    &-right {
        &-image {
            position: relative;
            &-content {
                position: absolute;
                left: -50px;
                bottom: 60px;
                background: $thin-bg;
                box-shadow: 0 30px 50px $shadow;
                padding: 30px 40px;                
                border-left: 2px solid $primary-color;
                &::before {
                    position: absolute;
                    content: '';
                    bottom: -45px;
                    left: -2px;
                    border-top: 45px solid #e8e8e8;
                    border-left: 50px solid transparent;
                }
                p {
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 700;
                    color: $secondary-color;
                    font-family: $open;     
                    text-transform: uppercase;   
                    padding-top: 10px;        
                }
            }
        }
    }
    &-video-icon {
        position: absolute;
        top: 20%;
        right: 5%;
        z-index: 10;
        transform: translateX(-50%) translateY(-50%);
        box-sizing: content-box;
        width: 25px;
        height: 26px;
        display: block;
        border-radius: 50%;
        padding: 18px 20px 18px 28px;
      &::before {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        display: block;
        top: 50%;
        left: 50%;
        z-index: 0;
        background: $primary-color;
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%);
        animation: pulse-border 1500ms ease-out infinite;
      }
      &::after {
        position: absolute;
        content: '';
        background: $primary-color;
        top: 50%;
        left: 50%;
        display: block;
        z-index: 1;
        transform: translateX(-50%) translateY(-50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transition: all 200ms;
      }
      span {
        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 20px solid $white;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        display: block;
    }
    }
}
@media (max-width: 991px) {
	.experience__area {
        &-skill {
            &-count {
                left: auto;
                right: 0;
            }
            &-inner {
                width: 100%;
                height: 8px;
                background: $border;
                margin-top: 10px;
                position: relative;
                border-radius: 0;
            }
        }
    }
}
@media (max-width: 575px) {
	.experience__area {
        &-right {
            &-image {
                position: relative;
                &-content {
                    padding: 20px;
                    left: 0;
                    bottom: 0;
                    &::before {
                        display: none;
                    }
                    p {
                        font-size: 14px;
                        line-height: 24px;   
                    }
                }
            }
        }
        &-video-icon {
            top: 25%;
            right: 0;
            &::before {
                width: 70px;
                height: 70px;
            }
            &::after {
                width: 70px;
                height: 70px;
            }
        }
    }
}